body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.7rem 0;
}

p {
  font-size: 0.75rem;
  font-weight: 200;
  margin: 0 0 0.75rem;
  color: gray;
  letter-spacing: 0.1rem;
}

/* Layout */

.container {
  padding: 2rem 2rem 1rem 1rem;
  min-width: 150px;

}

.intro-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.socials {
  display: flex;
  margin: 1.7rem 0;
}



/* links */

a {
  text-decoration: none;
  color: black;
}

.icon {
  font-size: 1.25rem;
  color: black;
}

.twitter-icon {
  margin-right: 1rem;
}

a:hover,
a:focus,
.icon:hover,
.icon:focus {
  color: #abdbe3;
}

#substack-widget {
  width: 300px;
  height: 200px;
  border: solid pink;
}

/* images */

.profile-pic {
  width: 75px;
  height: 75px;
  object-fit: cover;
  /* object-position: 20% 20%; */
  border-radius: 50%;
  order: -1;
}

/* media queries */

@media (min-width: 400px) {
  .title {
    font-size: 2rem;
  }

  .profile-pic {
    margin-bottom: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .nav {
    margin-bottom: 3rem;
  }

  .icon {
    font-size: 2rem;
  }
}