<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- https://github.com/kyletymo/kyletymo.github.io/blob/main/css/main.css -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/essays">Essays</a></li>
			<li><a href="/resources">Resources</a></li>
    		</ul>
		</nav>
		<div class="container">
      
      {{ content }} 
     
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="www.twitter.com/kyletymo">Twitter</a></li>
			<li><a href="www.linkedin.com/in/kyletymo">LinkedIn</a></li>
        		<li><a href="https://github.com/kyletymo">Github</a></li>
		</ul>
		</footer>
	</body>
</html>
