<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} by Kyle Tymoszewicz</title>
		<!-- https://github.com/kyletymo/kyletymo.github.io/blob/main/css/main.css -->
		<meta name="description" content="Kyle Tymoszewicz" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a target="_blank" href="/">Home</a></li>
	        	<li><a target="_blank" href="/about">About</a></li>
        		<li><a target="_blank" href="/posts">Essays</a></li>
			<li><a target="_blank" href="/resources">Resources</a></li>
    		</ul>
		</nav>
		<div class="container">
      
      {{ content }} 
     
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="www.twitter.com/kyletymo" target="_blank">Twitter</a></li>
			<li><a href="www.linkedin.com/in/kyletymo" target="_blank">LinkedIn</a></li>
        		<li><a href="https://github.com/kyletymo" target="_blank">Github</a></li>
		</ul>
		</footer>
	</body>
</html>
